.search {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    background-color: #F9F9FB;
}


.searchCont1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.searchFilter {
    position: relative;
    display: inline-block;
    border: 0.1rem solid rgba(39, 39, 39, 0.548);
    border-radius: 0.6rem;
    text-align: center;
    z-index: 2;
}
.searchFilterBtn {
    position: relative;
    padding: 0.5rem 0;
    width: 6.25rem;
    display: inline-block;
    z-index: 3;
    transition: color 0.5s ease-in-out ;
}
.searchFilterBtn.active {
    color: white;
}
.searchFilterSlider {
    position: absolute;
    top: 0;
    width: 6.25rem;
    height: 100%;
    z-index: 2;
    background-color: var(--clr-primary-blue-light);
    border-radius: 0.5rem;
    transition: transform 0.5s ease-in-out;
}
.searchFilterSlider.active {
    transform: translateX(100%);
}

.searchInput {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--clr-primary-blue-light);
    border-radius: 2.5rem ;
    width: 100%;
}
.searchIcon{
    height: 30px;
}
.searchInputBox {
    outline: none;
    border: 0;
    /* border: 0.1rem solid var(--clr-primary-blue-light);
    border-radius: 0.35rem ; */
    /* padding: 0.85rem 0 0.85rem 0.5rem; */
    width: 100%;
    background-color: transparent;
}