
.addStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem;
  }
.addStudent .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
    min-width: 20rem;
    margin-top: 20vh;
}
.addStudent input {
    outline: none;
    border: 0.1rem solid var(--clr-primary-blue-light);
    border-radius: 0.5rem ;
    background-color: transparent;
    padding: 0.5rem;
}

.addStudentBtn {
    padding: 0.5rem;
    border: 0.05rem solid black;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBtnContainer {
    display: flex;
    gap: 0.25rem;
}
.addStudentBtn:first-child {
    background-color: var(--clr-red);
    color: white;
    flex-grow: 1;
    }
.addStudentBtn:last-child {
    background-color: var(--clr-green);
    color: white;
    flex-grow: 1;
}