.login {
    background-image: linear-gradient(to top right, var(--clr-primary-blue-light) , var(--clr-primary-blue-dark));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.loginLogo {
    position: absolute;
    top: 3rem;
}

.loginInput {
    outline: none;
    border: 0;
    border-radius: 0.35rem ;
    padding: 0.85rem 0 0.85rem 0.5rem;
    width: 100%;
}

.loginBtn {
    width: 100%;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    transition: all 0.05s ease-in-out;
    font-weight: 600;
    font-size: 1.25rem;
    color: #533000;
    background-image: linear-gradient(to bottom right, var(--clr-yellow-light) , var(--clr-yellow-dark));
}
.loginBtn:hover {
    scale: 1.01;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
}

.forgotPass {
    font-style: italic;
    cursor: pointer;
}