:root {
  --clr-primary-blue-dark: #012FB0;
  --clr-primary-blue-light: #013CDF;
  --clr-primary-blue-extralight: #E5ECFF;
  
  --clr-yellow-light: #E8B500;
  --clr-yellow-dark: #FF7A00;
  
  --clr-red: #FF0000;
  
  --clr-green: #00E282;
  --clr-green-dark: #009E5B;
  
  --clr-brown: #533000;
}


/* Colors */
.white{
  color: white;
}
.black{
  color: black;
}
.green{
  color: var(--clr-green-dark);
}

.window {
  height: 100vh;
  overflow: auto;
}

/* Text */
.poppins {
  font-family: "Poppins",sans-serif;
}

.strongText {
  font-weight: 700;
}
.strong {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}

.title{
  font-size: 90px;
}
.subTitle{
  font-size: 2.5rem;
}


.smallLineHeight{
  line-height: 2rem;
}

/* Buttons */
.btn {
  cursor: pointer;
}


.logo {
  cursor: pointer;
}


/* ______ */

.appDashBoard {
  display: flex;
  /* flex-direction: row; */
}