:root {
  --clr-primary-blue-dark: #012FB0;
  --clr-primary-blue-light: #013CDF;
}


/* Colors */
.white{
  color: white;
}
.black{
  color: black;
}

.window {
  height: 100vh;
}

/* Text */
.strongText {
  font-weight: 700;
}

.title{
  font-size: 90px;
}


/* Buttons */
.btn {
  cursor: pointer;
}


.logo {
  cursor: pointer;
}